Always getting NXDOMAIN responses

Hello, I'm running this on my development machine and trying to use `dig` to figure out what the responses are. But I am always getting `NXDOMAIN`

Here's the `dig` command I'm using and the response (PS. I am exposing `rbldnsd` on port 5354):

```
$ dig @localhost TXT 0.0.89.167.sendgrid.net._spf.skywing.co.il -p 5354

; <<>> DiG 9.18.30-0ubuntu0.24.04.2-Ubuntu <<>> @localhost TXT 0.0.89.167.sendgrid.net._spf.skywing.co.il -p 5354
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NXDOMAIN, id: 64543
;; flags: qr aa rd; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion requested but not available

;; QUESTION SECTION:
;0.0.89.167.sendgrid.net._spf.skywing.co.il. IN TXT

;; Query time: 0 msec
;; SERVER: 127.0.0.1#5354(localhost) (UDP)
;; WHEN: Sun Jul 13 13:58:24 IDT 2025
;; MSG SIZE  rcvd: 60
```

Why am I getting NXDOMAIN?

Thanks~

*EDIT* - adding the content of `running_config`:

```
#
#  ______                                  _
# |  ____|                                | |
# | |__  __  ___ __  _   _ _ __ __ _  __ _| |_ ___
# |  __| \ \/ / '_ \| | | | '__/ _` |/ _` | __/ _ \
# | |____ >  <| |_) | |_| | | | (_| | (_| | ||  __/
# |______/_/\_\ .__/ \__,_|_|  \__, |\__,_|\__\___|
#             | |               __/ |
#             |_|              |___/
#
# https://xpg8.tk | https://github.com/smck83/expurgate
# Running config for: 1 domains
# Source domains: skywing.co.il
#
#
# Automatically generated rbldnsd config by Expurgate[xpg8.tk] for:skywing.co.il @ 2025-07-13 04:58:03.962591
# Source of truth:  _sd6sdyfn.skywing.co.il
# ^ skywing.co.il
# ^ v=spf1 include:sendgrid.net include:_spf.google.com include:mailgun.org include:spf.protection.outlook.com include:_netblocks.mimecast.com -all
# ^^ sendgrid.net
# ^^ v=spf1 ip4:167.89.0.0/17 ip4:208.117.48.0/20 ip4:50.31.32.0/19 ip4:198.37.144.0/20 ip4:198.21.0.0/21 ip4:192.254.112.0/20 ip4:168.245.0.0/17 ip4:149.72.0.0/16 ip4:159.183.0.0/16 include:ab.sendgrid.net ~all
# ^^^ ab.sendgrid.net
# ^^^ v=spf1 ip4:223.165.113.0/24 ip4:223.165.115.0/24 ip4:223.165.118.0/23 ip4:223.165.120.0/23 ~all
# ^^^^ _spf.google.com
# ^^^^ v=spf1 include:_netblocks.google.com include:_netblocks2.google.com include:_netblocks3.google.com ~all
# ^^^^^ _netblocks.google.com
# ^^^^^ v=spf1 ip4:66.249.80.0/21 ip4:72.14.192.0/18 ip4:74.125.0.0/16 ip4:108.177.8.0/21 ip4:173.194.0.0/16 ip4:209.85.128.0/17 ip4:216.58.192.0/19 ip4:216.239.32.0/19 ~all
# ^^^^^^ _netblocks2.google.com
# ^^^^^^ v=spf1 ip6:2001:4860:4000::/36 ip6:2404:6800:4000::/36 ip6:2607:f8b0:4000::/36 ip6:2800:3f0:4000::/36 ip6:2a00:1450:4000::/36 ip6:2c0f:fb50:4000::/36 ~all
# ^^^^^^^ _netblocks3.google.com
# ^^^^^^^ v=spf1 ip4:172.217.0.0/19 ip4:172.217.32.0/20 ip4:172.217.128.0/19 ip4:172.217.160.0/20 ip4:172.217.192.0/19 ip4:172.253.56.0/21 ip4:172.253.112.0/20 ip4:108.177.96.0/19 ~all
# ^^^^^^^^ mailgun.org
# ^^^^^^^^ v=spf1 include:_spf.mailgun.org include:_spf.eu.mailgun.org -all
# ^^^^^^^^^ _spf.mailgun.org
# ^^^^^^^^^ v=spf1 include:_spf1.mailgun.org include:_spf2.mailgun.org ~all
# ^^^^^^^^^^ _spf1.mailgun.org
# ^^^^^^^^^^ v=spf1 ip4:209.61.151.0/24 ip4:166.78.68.0/22 ip4:198.61.254.0/23 ip4:192.237.158.0/23 ip4:23.253.182.0/23 ip4:104.130.96.0/28 ip4:146.20.113.0/24 ip4:146.20.191.0/24 ip4:159.135.224.0/20 ip4:69.72.32.0/20 ~all
# ^^^^^^^^^^^ _spf2.mailgun.org
# ^^^^^^^^^^^ v=spf1 ip4:104.130.122.0/23 ip4:146.20.112.0/26 ip4:161.38.192.0/20 ip4:143.55.224.0/21 ip4:143.55.232.0/22 ip4:159.112.240.0/20 ip4:198.244.48.0/20 ip4:204.220.168.0/21 ip4:204.220.176.0/20 ~all
# ^^^^^^^^^^^^ _spf.eu.mailgun.org
# ^^^^^^^^^^^^ v=spf1 ip4:141.193.32.0/23 ip4:159.135.140.80/29 ip4:159.135.132.128/25 ip4:161.38.204.0/22 ip4:87.253.232.0/21 ip4:185.189.236.0/22 ip4:185.211.120.0/22 ip4:185.250.236.0/22 ip4:143.55.236.0/22 ip4:198.244.60.0/22 ip4:204.220.160.0/21 ~all
# ^^^^^^^^^^^^^ spf.protection.outlook.com
# ^^^^^^^^^^^^^ v=spf1 ip4:40.92.0.0/15 ip4:40.107.0.0/16 ip4:52.100.0.0/15 ip4:52.102.0.0/16 ip4:52.103.0.0/17 ip4:104.47.0.0/17 ip6:2a01:111:f400::/48 ip6:2a01:111:f403::/49 ip6:2a01:111:f403:8000::/51 ip6:2a01:111:f403:c000::/51 ip6:2a01:111:f403:f000::/52 -all
# ^^^^^^^^^^^^^^ _netblocks.mimecast.com
# ^^^^^^^^^^^^^^ v=spf1 include:eu._netblocks.mimecast.com include:us._netblocks.mimecast.com include:za._netblocks.mimecast.com include:de._netblocks.mimecast.com include:au._netblocks.mimecast.com include:ca._netblocks.mimecast.com ~all
# ^^^^^^^^^^^^^^^ eu._netblocks.mimecast.com
# ^^^^^^^^^^^^^^^ v=spf1 ip4:195.130.217.0/24 ip4:91.220.42.0/24 ip4:146.101.78.0/24 ip4:207.82.80.0/24 ip4:213.167.81.0/25 ip4:193.7.207.0/25 ip4:213.167.75.0/25 ip4:185.58.85.0/24 ip4:185.58.86.0/24 ip4:193.7.206.0/25 ip4:147.28.36.0/24 ~all
# ^^^^^^^^^^^^^^^^ us._netblocks.mimecast.com
# ^^^^^^^^^^^^^^^^ v=spf1 ip4:207.211.31.0/25 ip4:205.139.110.0/24 ip4:216.205.24.0/24 ip4:170.10.129.0/24 ip4:63.128.21.0/24 ip4:170.10.133.0/24 ip4:185.58.84.93/32 ip4:207.211.41.113/32 ip4:207.211.30.64/26 ip4:207.211.30.128/25 ip4:216.145.221.0/24 ip4:170.10.128.0/24 ip4:170.10.132.56/29 ip4:170.10.132.64/29 ~all
# ^^^^^^^^^^^^^^^^^ za._netblocks.mimecast.com
# ^^^^^^^^^^^^^^^^^ v=spf1 ip4:41.74.192.0/22 ip4:41.74.200.0/23 ip4:41.74.196.0/22 ip4:41.74.204.0/23 ip4:41.74.206.0/24 ~all
# ^^^^^^^^^^^^^^^^^^ de._netblocks.mimecast.com
# ^^^^^^^^^^^^^^^^^^ v=spf1 ip4:51.163.158.0/24 ip4:194.104.109.0/24 ip4:194.104.111.0/24 ip4:194.104.110.21/32 ip4:194.104.110.240/28 ip4:62.140.10.21/32 ip4:62.140.7.0/24 ip4:194.104.108.240/29 ip4:194.104.108.21/32 ~all
# ^^^^^^^^^^^^^^^^^^^ au._netblocks.mimecast.com
# ^^^^^^^^^^^^^^^^^^^ v=spf1 ip4:103.13.69.0/24 ip4:124.47.150.0/24 ip4:124.47.189.0/24 ip4:103.96.23.0/24 ip4:103.96.21.0/24 ip4:180.189.28.0/24 ip4:216.145.217.0/24 ip4:103.96.22.96/28 ip4:103.96.22.22/32 ip4:103.96.20.22/32 ip4:103.96.20.96/28 ~all
# ^^^^^^^^^^^^^^^^^^^^ ca._netblocks.mimecast.com
# ^^^^^^^^^^^^^^^^^^^^ v=spf1 ip4:170.10.145.0/24 ip4:170.10.147.0/24 ip4:170.10.144.126/32 ip4:170.10.146.126/32 ip4:170.10.144.240/29 ip4:170.10.146.240/29 ip4:216.145.216.0/24 ~all
# Depth:20
# IP & Subnet: 133
$DATASET ip4set:skywing.co.il skywing.co.il
:3:v=spf1 ip4:$ ~all
167.89.0.0/17 # subnet:sendgrid.net
208.117.48.0/20 # subnet:sendgrid.net
50.31.32.0/19 # subnet:sendgrid.net
198.37.144.0/20 # subnet:sendgrid.net
198.21.0.0/21 # subnet:sendgrid.net
192.254.112.0/20 # subnet:sendgrid.net
168.245.0.0/17 # subnet:sendgrid.net
149.72.0.0/16 # subnet:sendgrid.net
159.183.0.0/16 # subnet:sendgrid.net
223.165.113.0/24 # subnet:ab.sendgrid.net
223.165.115.0/24 # subnet:ab.sendgrid.net
223.165.118.0/23 # subnet:ab.sendgrid.net
223.165.120.0/23 # subnet:ab.sendgrid.net
66.249.80.0/21 # subnet:_netblocks.google.com
72.14.192.0/18 # subnet:_netblocks.google.com
74.125.0.0/16 # subnet:_netblocks.google.com
108.177.8.0/21 # subnet:_netblocks.google.com
173.194.0.0/16 # subnet:_netblocks.google.com
209.85.128.0/17 # subnet:_netblocks.google.com
216.58.192.0/19 # subnet:_netblocks.google.com
216.239.32.0/19 # subnet:_netblocks.google.com
172.217.0.0/19 # subnet:_netblocks3.google.com
172.217.32.0/20 # subnet:_netblocks3.google.com
172.217.128.0/19 # subnet:_netblocks3.google.com
172.217.160.0/20 # subnet:_netblocks3.google.com
172.217.192.0/19 # subnet:_netblocks3.google.com
172.253.56.0/21 # subnet:_netblocks3.google.com
172.253.112.0/20 # subnet:_netblocks3.google.com
108.177.96.0/19 # subnet:_netblocks3.google.com
209.61.151.0/24 # subnet:_spf1.mailgun.org
166.78.68.0/22 # subnet:_spf1.mailgun.org
198.61.254.0/23 # subnet:_spf1.mailgun.org
192.237.158.0/23 # subnet:_spf1.mailgun.org
23.253.182.0/23 # subnet:_spf1.mailgun.org
104.130.96.0/28 # subnet:_spf1.mailgun.org
146.20.113.0/24 # subnet:_spf1.mailgun.org
146.20.191.0/24 # subnet:_spf1.mailgun.org
159.135.224.0/20 # subnet:_spf1.mailgun.org
69.72.32.0/20 # subnet:_spf1.mailgun.org
104.130.122.0/23 # subnet:_spf2.mailgun.org
146.20.112.0/26 # subnet:_spf2.mailgun.org
161.38.192.0/20 # subnet:_spf2.mailgun.org
143.55.224.0/21 # subnet:_spf2.mailgun.org
143.55.232.0/22 # subnet:_spf2.mailgun.org
159.112.240.0/20 # subnet:_spf2.mailgun.org
198.244.48.0/20 # subnet:_spf2.mailgun.org
204.220.168.0/21 # subnet:_spf2.mailgun.org
204.220.176.0/20 # subnet:_spf2.mailgun.org
141.193.32.0/23 # subnet:_spf.eu.mailgun.org
159.135.140.80/29 # subnet:_spf.eu.mailgun.org
159.135.132.128/25 # subnet:_spf.eu.mailgun.org
161.38.204.0/22 # subnet:_spf.eu.mailgun.org
87.253.232.0/21 # subnet:_spf.eu.mailgun.org
185.189.236.0/22 # subnet:_spf.eu.mailgun.org
185.211.120.0/22 # subnet:_spf.eu.mailgun.org
185.250.236.0/22 # subnet:_spf.eu.mailgun.org
143.55.236.0/22 # subnet:_spf.eu.mailgun.org
198.244.60.0/22 # subnet:_spf.eu.mailgun.org
204.220.160.0/21 # subnet:_spf.eu.mailgun.org
40.92.0.0/15 # subnet:spf.protection.outlook.com
40.107.0.0/16 # subnet:spf.protection.outlook.com
52.100.0.0/15 # subnet:spf.protection.outlook.com
52.102.0.0/16 # subnet:spf.protection.outlook.com
52.103.0.0/17 # subnet:spf.protection.outlook.com
104.47.0.0/17 # subnet:spf.protection.outlook.com
195.130.217.0/24 # subnet:eu._netblocks.mimecast.com
91.220.42.0/24 # subnet:eu._netblocks.mimecast.com
146.101.78.0/24 # subnet:eu._netblocks.mimecast.com
207.82.80.0/24 # subnet:eu._netblocks.mimecast.com
213.167.81.0/25 # subnet:eu._netblocks.mimecast.com
193.7.207.0/25 # subnet:eu._netblocks.mimecast.com
213.167.75.0/25 # subnet:eu._netblocks.mimecast.com
185.58.85.0/24 # subnet:eu._netblocks.mimecast.com
185.58.86.0/24 # subnet:eu._netblocks.mimecast.com
193.7.206.0/25 # subnet:eu._netblocks.mimecast.com
147.28.36.0/24 # subnet:eu._netblocks.mimecast.com
207.211.31.0/25 # subnet:us._netblocks.mimecast.com
205.139.110.0/24 # subnet:us._netblocks.mimecast.com
216.205.24.0/24 # subnet:us._netblocks.mimecast.com
170.10.129.0/24 # subnet:us._netblocks.mimecast.com
63.128.21.0/24 # subnet:us._netblocks.mimecast.com
170.10.133.0/24 # subnet:us._netblocks.mimecast.com
185.58.84.93/32 # ip:us._netblocks.mimecast.com
207.211.41.113/32 # ip:us._netblocks.mimecast.com
207.211.30.64/26 # subnet:us._netblocks.mimecast.com
207.211.30.128/25 # subnet:us._netblocks.mimecast.com
216.145.221.0/24 # subnet:us._netblocks.mimecast.com
170.10.128.0/24 # subnet:us._netblocks.mimecast.com
170.10.132.56/29 # subnet:us._netblocks.mimecast.com
170.10.132.64/29 # subnet:us._netblocks.mimecast.com
41.74.192.0/22 # subnet:za._netblocks.mimecast.com
41.74.200.0/23 # subnet:za._netblocks.mimecast.com
41.74.196.0/22 # subnet:za._netblocks.mimecast.com
41.74.204.0/23 # subnet:za._netblocks.mimecast.com
41.74.206.0/24 # subnet:za._netblocks.mimecast.com
51.163.158.0/24 # subnet:de._netblocks.mimecast.com
194.104.109.0/24 # subnet:de._netblocks.mimecast.com
194.104.111.0/24 # subnet:de._netblocks.mimecast.com
194.104.110.21/32 # ip:de._netblocks.mimecast.com
194.104.110.240/28 # subnet:de._netblocks.mimecast.com
62.140.10.21/32 # ip:de._netblocks.mimecast.com
62.140.7.0/24 # subnet:de._netblocks.mimecast.com
194.104.108.240/29 # subnet:de._netblocks.mimecast.com
194.104.108.21/32 # ip:de._netblocks.mimecast.com
103.13.69.0/24 # subnet:au._netblocks.mimecast.com
124.47.150.0/24 # subnet:au._netblocks.mimecast.com
124.47.189.0/24 # subnet:au._netblocks.mimecast.com
103.96.23.0/24 # subnet:au._netblocks.mimecast.com
103.96.21.0/24 # subnet:au._netblocks.mimecast.com
180.189.28.0/24 # subnet:au._netblocks.mimecast.com
216.145.217.0/24 # subnet:au._netblocks.mimecast.com
103.96.22.96/28 # subnet:au._netblocks.mimecast.com
103.96.22.22/32 # ip:au._netblocks.mimecast.com
103.96.20.22/32 # ip:au._netblocks.mimecast.com
103.96.20.96/28 # subnet:au._netblocks.mimecast.com
170.10.145.0/24 # subnet:ca._netblocks.mimecast.com
170.10.147.0/24 # subnet:ca._netblocks.mimecast.com
170.10.144.126/32 # ip:ca._netblocks.mimecast.com
170.10.146.126/32 # ip:ca._netblocks.mimecast.com
170.10.144.240/29 # subnet:ca._netblocks.mimecast.com
170.10.146.240/29 # subnet:ca._netblocks.mimecast.com
216.145.216.0/24 # subnet:ca._netblocks.mimecast.com
:99:v=spf1 ~all
0.0.0.0/1 # all other IPv4 addresses
128.0.0.0/1 # all other IP IPv4 addresses
$DATASET ip6trie:skywing.co.il skywing.co.il
:3:v=spf1 ip6:$ ~all
2001:4860:4000::/36 # _netblocks2.google.com
2404:6800:4000::/36 # _netblocks2.google.com
2607:f8b0:4000::/36 # _netblocks2.google.com
2800:3f0:4000::/36 # _netblocks2.google.com
2a00:1450:4000::/36 # _netblocks2.google.com
2c0f:fb50:4000::/36 # _netblocks2.google.com
2a01:111:f400::/48 # spf.protection.outlook.com
2a01:111:f403::/49 # spf.protection.outlook.com
2a01:111:f403:8000::/51 # spf.protection.outlook.com
2a01:111:f403:c000::/51 # spf.protection.outlook.com
2a01:111:f403:f000::/52 # spf.protection.outlook.com
:99:v=spf1 ~all
0:0:0:0:0:0:0:0/0 # all other IPv6 addresses
```


Can you please share the docker run -e variables you're using?

They should all be capitals:

E.g. 
`-e ZONE="_spf.skywing.co.il" -e MY_DOMAINS="example.org" etc etc`


Also, if you aren't using Solo (single container version) you will need to make sure the rbldnsd container is sharing a volume `-v` with the resolver container.

`MY_DOMAINS` should be a list of domains you want to compress and host an SPF macro for. Could be 1 domain or 100+ - skywing.co.il is right if you plan to put this under the TXT record for it:

````
v=spf1 include:%{ir}.%{d}._spf.skywing.co.il ~all
````


`include:sendgrid.net` and all the other different IPs and TXT records to `include:` to authorise per domain I  `MY_DOMAINS` is hosted under the subdomain, relative to the domain in `MY_DOMAINS`.

SPF macros are not unique to this project and are documented in RFC7208 for SPF used by large global enterprise organisations via vendors like SalesForce, Agari, Proofpoint, Valimail etc.


See RFC 7208 section 7:
https://datatracker.ietf.org/doc/html/rfc7208#section-7


It's always best practice to send email with SPF and DKIM pass and align, so there is continuity there(DKIM) - Could there be a really old, unsupported legacy mail server out that that doesn't use a modern SPF library(libspf2, pyspf, Mail::SPF etc ) or follow RFC 7208 for SPF, possibly, but then that same server probably has no idea about DMARC, DKIM and a bunch of others and will have all sorts of issues.

Thanks for all your help. Closing issue.